{% autoescape None %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ static_url("style2.css") }}" type="text/css" media="screen">
        <link href='http://fonts.googleapis.com/css?family=Trade+Winds' rel='stylesheet' type='text/css'>
        <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml" />
    </head>
    <body>
        <div id="content">
            <header>
            <hgroup>
                <h1 id="site-title">
                    <a href="{{ url }}" title="MartianZ">{{ title }}</a>
                </h1>
                <h2 id="site-description">
                    Here's my blog :)
                </h2>
                <h2 class="site-nav">
                    <a href="{{ url }}">首页</a>
                </h2>
                <h2 class="site-nav">
                    <a href="#" onclick="javascript:alert('Under Construction!');">照片墙</a>
                </h2>
                <h2 class="site-nav">
                    <a href="https://plus.google.com/u/0/116844860719441739456" target="_blank">Google+</a>
                </h2>
                <h2 class="site-nav">
                    <a href="https://github.com/liutaihua" target="_blank">GitHub</a>
                </h2>
                <h2 class="site-nav">
                    <a href="http://weibo.com/2033970704" target="_blank">微博</a>
                </h2>
            </hgroup>
            </header>
            
        <div id="main">
            <div id="primary">
                {% for article in articles %}
                <article>
                    <div class="entry-header">
                        <h1 class="entry-title"><a href="/article/{{ article["name"] }}">{{ article["title"] }}</a></h1>
                        
                        <div class="entry-meta">
                            <span class="sep">Posted on <time class="entry-date">{{ article["date"] }}</time></a></span>
                        </div>
                    </div>
                    
                    <div class="entry-content" id="yyy{{ article["name"] }}">
                        {{ (article["content"]) }}
                    </div>


                    <p>
                      <script>
                        (function(){
                          var o = document.getElementById("yyy{{ article["name"] }}");
                          var s = o.innerHTML;
                          var p = document.createElement("span");
                          var n = document.createElement("a");
                          p.innerHTML = s.substring(0,500);
                          n.innerHTML = s.length > 500 ? "...浏览全部" : "";
                          n.href = "#";
                          n.onclick = function(){
                            if (n.innerHTML == "...浏览全部"){
                              n.innerHTML = "收起";
                              p.innerHTML = s;
                            }else{
                              n.innerHTML = "...浏览全部";
                              p.innerHTML = s.substring(0,500);
                            }
                          }
                          o.innerHTML = "";
                          o.appendChild(p);
                          o.appendChild(n);
                        })();
                      </script>
                    </p>

                </article>
                {% end %}

                <nav id="nav-below">
                    {% if pnext %}
                    <div class="nav-previous"><a href="/?p={{ nextnum }}"><span class="meta-nav">←</span> Older posts</a></div>
                    {% end %}
                    {% if prev %}
                    <div class="nav-next"><a href="/?p={{ prevnum }}">Newer posts <span class="meta-nav">→</span></a></div>
                    {% end %}
                </nav>
            </div>
        </div>
        
        <footer>
            <div class="div-footer">
                            Powered by <a href="https://github.com/liutaihua">歪鱼</a>
            </div>
        </footer>
        </div>
        

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33535278-2']);
  _gaq.push(['_setDomainName', '4321.la']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
//    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    </body>
</html>
